.hero--afterRegistration {
    width: 100%;
    display: block;
    margin: 4em auto;
}

.title--afterRegistration {
    color: var(--clr-accent-dk-green);
}

.afterRegistrationCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}


